.stopwatch-page {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  min-height: 100vh;
  background-size: cover;
}

.timer-section {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media all and (max-width: 575px) {
  .stopwatch-page {
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
    height: auto;
  }
  .timer-section {
    padding: 10px;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
}

.stopwatch-heading {
  margin-bottom: 25px;
}

.timer-display {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  background-color: #fff;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-top-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.timer-section-heading {
  font-size: 20px;
  font-weight: 600;
  margin-left: 3px;
}

.timer {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 15px;
}

.button {
  width: 70px;
  height: 40px;
  border-width: 0px;
  border-radius: 6px;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  cursor: pointer;
  margin-right: 10px;
}

.start {
  background-color: #1db05f;
}

.stop {
  background-color: #ef0d36;
}

.reset {
  background-color: #eaa800;
}
